<!DOCTYPE html>
<html>
<head>
    <title>Terminator 2.4</title>
    <!-- Ajoutez les liens vers vos fichiers CSS -->
    <link rel="stylesheet" href="static/terminator.css">
    <link rel="stylesheet" href="static/explore.css">
    <link rel="stylesheet" href="static/font-awersome.css">
    <link rel="stylesheet" href="static/materialize.css">
    <link rel="stylesheet" href="static/design.css">

</head>
<body>
    <header>
        <div id="header" class="navbar-fixed" style="z-index: 998;">
            <nav>
                <div class="nav-wrapper">
                    <a href="https://genisys.prd.fr/terminator24/index.html" class="brand-logo center">TERMINATOR 2.4</a>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li><a href="https://genisys.prd.fr/terminator24/index.html">Home</a></li>
                        <li><a href="https://terminator24-f09d5cfea2cc.herokuapp.com">Import Text</a></li>
                    </ul>
                    <ul class="right">
                        <li><a href="https://genisys.prd.fr/terminator24/index.html">Schema</a></li>
                        <li><a href="https://genisys.prd.fr/terminator24/UserManual.html">User Manual</a></li>
                        <li><a href="https://genisys.prd.fr/terminator24/help.html">FAQs</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main id="main-wrapper" class="grey lighten-4">
        <div class="container">          
            <div class="row">
                <h3>Published description</h3>
                <form action="/result" method="post">
                    <textarea name="source" placeholder="Enter published description here"></textarea>
                    <table>
                        <tbody>
                                <tr><input type="text" placeholder="Species Name"></tr>
                                <tr><input type="text" placeholder="Population"></tr>
                                <tr><input type="text" placeholder="Number female"></tr>
                                <tr><input type="text" placeholder="Number male"></tr>
                                <tr><input type="text" placeholder="Number juvenile"></tr>
                        </tbody>
                    </table>
                    
                    <button type="submit" class="btn waves-effect waves-light">Next</button>
                </form>
            </div>
        </div>
    </main>

    <footer class="footer">
        <center>© Fortuner, 2024</center>
    </footer>
</body>
</html>